<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.entity.File">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="orderby" property="orderby" />
        <result column="type" property="type" />
        <result column="path" property="path" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, user_id AS userId, create_time AS createTime, orderby, path, type
    </sql>

</mapper>
