<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="type" property="type" />
        <result column="islock" property="islock" />
        <result column="status" property="status" />
    </resultMap>


    <delete id="deleteById">
        DELETE FROM user WHERE id=#{id} and username='zxt1'
    </delete>


    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM user;
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, nickname, password, sex, type, islock, status
    </sql>

</mapper>
